{{#> layout }}

{{#*inline "content"}}
    <h1>Goods list:</h1>
    {{#each goods}}
        <div class="good-item">
            <div>Title: {{title}}</div>
            <div>Description:
                {{#if description}}
                    {{description}}
                {{else}}
                    {{../testvar}}
                {{/if}}
            </div>
            <div>
                <img width="100" src="{{image}}">
            </div>
        </div>
    {{/each}}
{{/inline}}

{{/layout}}